DB_NAME=cecumlink
DB_USER=cecum
DB_PASSWORD=cecum_secret_cambiar_en_produccion
JWT_SECRET=super_secreto_jwt_cambiar_en_produccion_min_32_chars
NODE_ENV=production
FRONTEND_URL=http://localhost
VITE_API_URL=http://localhost:3001
VITE_SOCKET_URL=http://localhost:3001
